/* Write your CSS here */

/* Write your CSS here */

.about-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-img {
  width: 200px;
  height: 200px;
}

.LightTheme {
  background-color: #ffffff;
}

.DarkTheme {
  background-color: #000000;
}

.light-text-color {
  color: #ffffff;
}

.dark-text-color {
  color: #000000;
}
