/* Write your CSS here */

.Nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LightColor {
  background-color: #ffffff;
}

.DarkColor {
  background-color: #333333;
}

.ChangeTheme-Btn {
  background-color: transparent;
  outline: none;
  border: none;
}

.Nav-list-container {
  list-style: none;
  display: flex;
}

.home-link {
  margin-right: 10px;
}

.about-link {
  margin-left: 20px;
}
